.home__carousel {
  width: 100%;
}

.home__section {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.home__title {
  font-size: 1.6em;
  font-weight: bold;
  padding: 2.5rem;
  text-align: center;
}
