@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Date range */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffd423;
  --color-primary: #ffd423;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ffd423;
    --color-primary: #ffd423;
  }
}

.steps .step-primary::before,
.steps .step-primary::after {
  background-color: #e20000 !important;
  border-color: #e20000 !important;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  .animate-scroll-down {
    animation: scrollDown 2s infinite;
  }

  .vertical-rl {
    writing-mode: vertical-rl;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes scrollDown {
  0% { transform: translateY(-100%); }
  50% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

